{% block subject %}
<h1>{{ subject }}</h1>
{% endblock %}

{% block html_body %}
{% if product %}
<h2>Товар:</strong> {{ product }}</h2>
{% endif %}
<p><strong>Телефон:</strong> {{ phone }}</p>
<p><strong>ФИО:</strong> {{ name }}</p>
<p><strong>Email:</strong> {{ email }}</p>
{% if question %}
<p><strong>Вопрос:</strong></p>
<p>{{ question }}</p>
{% endif %}

<hr>
<h2>Дополнительная информация:</h2>
<p>Дата: {{ created_date }}</p>
<p>URL: {{ url }}</p>
<p>IP: {{ geo.ip }}</p>
<p>Страна: {{ geo.country }}</p>
<p>Регион: {{ geo.region }}</p>
<p>Город: {{ geo.city }}</p>
{% if geo.error %}
<p>Сообщение об ошибке:<br>
  {{ geo.error }}</p>
{% endif %}

{% endblock html_body %}
